.tweet {
  padding: 20px 20px 0;
  margin: 20px 0 0;
  border-top: 1px solid #eee;
}

.tweet:first-child {
  margin-top: 0;
  padding-top: 0;
  border: 0;
}

.tweet p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 20px;
}

.tweet button {
  border: 0;
  background: transparent;

  display: flex;
  align-items: center;
  color: #697882;
  cursor: pointer;
}

.tweet button img {
  margin-right: 5px;
}

.tweet button:hover {
  opacity: 0.7;
}
